<div class="row justify-content-center m-3">
  <div class="col-lg-7 col-md-10 col-sm-12">
    <h1 class="my-5 text-center">
      <i class="bi bi-card-list"></i>
      Ver tipo de usuario
      <i class="bi bi-credit-card-fill"></i>
    </h1>
    <br />
    <table class="table table-striped table-bordered my-5 text-center">
      <tbody>
        <tr class="text-center">
          <th scope="row" class="bg-danger text-white text-end pe-5">Id</th>
          <td class="text-start ps-5">{{ otipousuario.id }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">Titulo</th>
          <td class="text-start ps-5">{{ otipousuario.descripcion }}</td>
        </tr>




        <tr class="text-center">

        </tr>

        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Usuarios
          </th>
        </tr>      
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <a class="btn btn-warning mt-4 mx-1" href="admin/tipousuario/plist">
      <i class="bi bi-list"></i>
      Ir a listado de Tipousuario
    </a>
    <a
      class="btn btn-primary mt-4 mx-1"
      href="admin/tipousuario/edit/{{ otipousuario.id }}"
    >
      <i class="bi bi-pencil"></i>
      Editar
    </a>
    <a
      class="btn btn-danger mt-4 mx-1"
      href="admin/tipousuario/delete/{{ otipousuario.id }}"
    >
      <i class="bi bi-trash"></i>
      Borrar
    </a>
  </div>
</div>
